VITE_API_URL=http://localhost:8080
VITE_SENTRY_DSN=
VITE_SENTRY_ENVIRONMENT=local
VITE_SENTRY_RELEASE=local-dev

ORVAL_OPENAPI_URL=http://localhost:8080/docs/api.json

# Docker private
NODE_ENV=development
PORT=3000
STORYBOOK_PORT=6006
CHOKIDAR_USEPOLLING=true
