.wrapper {
	--card-radius: var(--border-radius-md);
	--card-padding: var(--spacing-2xs);

	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: var(--card-radius);
}

.imgWrapper {
	width: 100%;
	overflow: hidden;
	aspect-ratio: 1 / 1;
	position: relative;
	border-radius: inherit;
	background-color: var(--color-neutral-200);
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: var(--border-radius-xs);
}

.statusOverlay {
	position: absolute;
	top: var(--spacing-2xs);
	right: var(--spacing-2xs);
	z-index: 2;
}

.date {
	font-size: var(--font-size-body-sm);
	color: var(--color-neutral-600);
	margin-top: var(--spacing-2xs);
}

.title {
	font-weight: var(--font-weight-semibold);
	margin: var(--spacing-3xs) 0;
	font-size: var(--font-size-heading-5);
}

.chipList {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-3xs);
	margin-top: var(--spacing-3xs);
}

.childrenWrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	margin-top: var(--spacing-2xs);
}

.metaInfo {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--size-md);
	margin-bottom: var(--spacing-xs);
}

.statItem {
	display: flex;
	align-items: center;
	color: var(--color-neutral-600);
}

.statIcon {
	margin-right: var(--size-xs);
	text-align: center;
}
