// Semantic Colors
$color-success: #28a745;
$color-success-hover: #1e7e34;
$color-success-disabled: #94d7a1;

$color-warning: #ffc107;
$color-warning-hover: #c69500;
$color-warning-disabled: #ffe08a;

$color-error: #dc3545;
$color-error-hover: #a71d2a;
$color-error-disabled: #f29ba5;

// Primary Colors (Orange)
$color-primary-100: #f9d7b5;
$color-primary-200: #f4b87d;
$color-primary-300: #ef9845;
$color-primary-400: #ea7d22;
$color-primary: #e67e22;
$color-primary-hover: #c4661b;
$color-primary-disabled: #f4c6a0;

// Secondary Colors
$color-secondary-100: #f2f4f2; // Light secondary background
$color-secondary-200: #e5e8e5;
$color-secondary-300: #d8ddd8;
$color-secondary-400: #cbd1cb;
$color-secondary: #6c757d; // Main Secondary Gray
$color-secondary-black: #18181b; // Main Secondary black
$color-secondary-hover: #494f54;
$color-secondary-black-hover: #0f1017e6;
$color-secondary-disabled: #b5bcc2;
$color-secondary-black-disabled: #f4f4f7;

// Neutral Colors
$color-neutral-0: #ffffff;
$color-neutral-100: #f8f9fa;
$color-neutral-100-alpha: #2121210d;
$color-neutral-200-alpha: #2121211a;
$color-neutral-200: #e9ecef; // Borders, subtle dividers
$color-neutral-300: #dee2e6; // Input backgrounds, inactive elements
$color-neutral-400: #ced4da; // Placeholder text
$color-neutral-500: #adb5bd; // Muted text
$color-neutral-600: #6c757d; // Secondary text (light mode)
$color-neutral-700: #495057; // Default text (light mode)
$color-neutral-800: #343a40; // Card backgrounds (dark mode)
$color-neutral-900: #212121; // Default text (dark mode)

// CSS Variables (for usage in raw CSS)
:root {
	--color-success: #{$color-success};
	--color-success-hover: #{$color-success-hover};
	--color-success-disabled: #{$color-success-disabled};
	--color-warning: #{$color-warning};
	--color-warning-hover: #{$color-warning-hover};
	--color-warning-disabled: #{$color-warning-disabled};
	--color-error: #{$color-error};
	--color-error-hover: #{$color-error-hover};
	--color-error-disabled: #{$color-error-disabled};
	--color-primary-100: #{$color-primary-100};
	--color-primary-200: #{$color-primary-200};
	--color-primary-300: #{$color-primary-300};
	--color-primary-400: #{$color-primary-400};
	--color-primary: #{$color-primary};
	--color-primary-hover: #{$color-primary-hover};
	--color-primary-disabled: #{$color-primary-disabled};
	--color-secondary-100: #{$color-secondary-100};
	--color-secondary-200: #{$color-secondary-200};
	--color-secondary-300: #{$color-secondary-300};
	--color-secondary-400: #{$color-secondary-400};
	--color-secondary: #{$color-secondary};
	--color-secondary-hover: #{$color-secondary-hover};
	--color-secondary-disabled: #{$color-secondary-disabled};
	--color-neutral-0: #{$color-neutral-0};
	--color-neutral-100: #{$color-neutral-100};
	--color-neutral-100-alpha: #{$color-neutral-100-alpha};
	--color-neutral-200-alpha: #{$color-neutral-200-alpha};
	--color-neutral-200: #{$color-neutral-200};
	--color-neutral-300: #{$color-neutral-300};
	--color-neutral-400: #{$color-neutral-400};
	--color-neutral-500: #{$color-neutral-500};
	--color-neutral-600: #{$color-neutral-600};
	--color-neutral-700: #{$color-neutral-700};
	--color-neutral-800: #{$color-neutral-800};
	--color-neutral-900: #{$color-neutral-900};
	--color-text-neutral-hover: var(--color-neutral-700);
	--color-text-neutral-default: var(--color-neutral-900);
	--color-text-primary: var(--color-text-primary);
	--color-text-primary-default: var(--color-primary-500);
	--color-text-primary-hover: var(--color-primary-400);
	--color-text-primary-focus: var(--color-primary-300);
	--color-text-primary-active: var(--color-primary-200);
	--page-background-color: #{#f5f5f5};
}
