:root {
	--font-size-body-xs: 10px;
	--font-size-body-sm: 12px;
	--font-size-body-md: 14px;
	--font-size-body-lg: 16px;

	--font-size-heading-6: 16px;
	--font-size-heading-5: 18px;
	--font-size-heading-4: 20px;
	--font-size-heading-3: 24px;
	--font-size-heading-2: 32px;
	--font-size-heading-1: 40px;
}

:root {
	// Font families
	--font-family: Georgia, 'Inter', Arial, sans-serif;
	// font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;

	// Font weights
	--font-weight-regular: 400;
	--font-weight-semibold: 600;

	// Line heights
	--line-height-sm: 1;
	--line-height-md: 1.2;
	--line-height-lg: 1.4;
	--line-height-japanese-article-text: 2.5;
}
