:root {
	--z-index-base: 0;
	--z-index-above: 1;
	--z-index-below: -1;
	--z-index-select: calc(var(--z-index-above) + var(--z-index-base));
	--z-index-dropdown: calc(var(--z-index-above) + var(--z-index-select));
	--z-index-overlay-content: calc(var(--z-index-above) + var(--z-index-dropdown));
	--z-index-header: calc(var(--z-index-above) + var(--z-index-overlay-content));
	--z-index-overlay-full: calc(var(--z-index-above) + var(--z-index-header));
	--z-index-modal: calc(var(--z-index-above) + var(--z-index-overlay-full));
	--z-index-quick-search: calc(var(--z-index-above) + var(--z-index-overlay-full));
	--z-index-notifications: calc(var(--z-index-above) + var(--z-index-modal));
}
