.footer {
	width: 100%;
	margin-top: auto;
	padding: var(--spacing-md);
	background-color: var(--alternative-text-color);
	color: var(--color-text-neutral-default);
	text-align: center;
	box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.1);
}

.footer a {
	color: var(--color-text-primary-default);
}

.footer a:hover {
	color: var(--color-text-neutral-hover);
}

.brand {
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
}

.brand h4 {
	margin: 0;
}

.socialLinks {
	margin-bottom: var(--spacing-xs);
}

.socialLinks a:hover {
	opacity: 0.7;
}

.legal {
	margin: 0;
	color: var(--color-neutral-600);
}
