.cue {
	display: inline-flex;
	align-items: center;
	gap: var(--spacing-2xs);
	padding: var(--spacing-3xs) var(--spacing-xs);
	border: var(--border-size-sm) solid var(--color-neutral-400);
	border-radius: var(--border-radius-xs);
	background-color: var(--color-neutral-0);
	color: var(--color-neutral-700);
	font-size: var(--font-size-body-sm);
	font-weight: var(--font-weight-semibold);
	line-height: var(--line-height-lg);
	white-space: nowrap;
}
