:root {
  --main-text-color: #303030;
  --alternative-text-color: #f9f9f9;
  --link-hover-color: #9099a7;
  --main-brand-color: #f79862;
  --secondary-brand-color: #3058a4;
}

html {
  scroll-behavior: smooth;
}

/* Layouts */

.homepage-upper-page {
  display: flex;
  height: 95vh;
}

.homepage-left {
  flex: 5;
  background: url("../../assets/images/adrian-Xft-JdC-Jbc-unsplash-mid.jpg")
    no-repeat center;
  background-size: cover;
}

.homepage-right {
  /* flex: 1; */
  background-color: var(--main-brand-color);
}

.homepage-left-column {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: space-between;
}

.home-hero-header {
  margin-left: 10%;
  margin-top: 10%;
  margin-right: 30%;
}

/* inner elements */

.home-hero-explore {
  width: 100%;
  margin-right: 5%;
  margin-bottom: 1%;
  text-align: right;
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.home-hero-explore-link {
  font-size: 2rem;
  color: var(--main-brand-color);
}

.home-hero-explore-link:hover {
  color: var(--main-brand-color);
  opacity: 0.9;
  text-decoration: none;
}

.hover:hover {
  opacity: 0.9;
}

.homepage-section-title:hover {
  text-decoration: none;
  color: var(--link-hover-color);
}

.home-hero-social-links a:hover {
  opacity: 0.7;
}

.home-hero-header p {
  font-size: 1.5rem;
  text-align: left;
}

.home-hero-header h1 {
  font-size: 3.5rem;
}

.home-hero-links .text-brand,
.text-brand {
  color: var(--main-brand-color);
  text-shadow: 0 0 1px #303030;
}

/* Form */

.landing-register-form {
  background-color: #fff;
  margin: 10% auto;
  border-radius: 5px;
  padding: 15px;
  color: var(--main-text-color);
}

.landing-register-form a {
  color: var(--link-hover-color);
}

.btn-outline-primary:disabled,
.brand-button {
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid var(--main-brand-color);
  color: var(--main-brand-color);
  background-color: #fff;
}
.brand-button:hover {
  background-color: var(--main-brand-color);
  border: 2px solid var(--main-brand-color);
  color: #fff;
}

.form-control:focus {
  outline: none !important;
  border: 2px solid var(--main-brand-color);
  box-shadow: 0 0 5px var(--link-hover-color);
}
