.env
.env.*
!.env.example
/vendor
/node_modules
/tests
/storage/logs
/storage/framework
/bootstrap/cache/*
/.git
/.idea
/.vscode
/docker-compose.yml
/README.md
/package.json
/package-lock.json
/webpack.mix.js
/resources/js
/resources/sass
/database/japanese-data
