services:
  laravel-app:
    build:
      context: .
      dockerfile: .docker/Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www/html
    environment:
      SERVICE_NAME: laravel-app
      SERVICE_TAGS: dev
      DB_HOST: db
      DB_PORT: '${DB_PORT}'
      DB_DATABASE: '${DB_DATABASE}'
      DB_USERNAME: '${DB_USERNAME}'
      DB_PASSWORD: '${DB_PASSWORD}'
      APP_URL: '${APP_URL}'
      QUEUE_CONNECTION: '${QUEUE_CONNECTION}'
      REDIS_HOST: 'redis'
      REDIS_PORT: '${REDIS_PORT}'
      REDIS_PASSWORD: '${REDIS_PASSWORD}'
    volumes:
      - ./:/var/www/html
      - vendor-volume:/var/www/html/vendor          # Cache vendor
      # - storage-volume:/var/www/html/storage        # Cache storage
      # - cache-volume:/var/www/html/bootstrap/cache  # Cache bootstrap
    networks:
      - shared-network
    depends_on:
      - db
      - redis
      - reverb
    entrypoint: ["/bin/sh", "/var/www/html/.docker/entrypoint.sh"]

  webserver:
    image: nginx:alpine
    container_name: nginx_webserver
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
    # Consider using a multi-stage build to avoid mounting the entire source code in production
    # COPY . /var/www/html
    # WORKDIR /var/www/html
    # RUN composer install --optimize-autoloader --no-dev
    # Current is convenient for development, installing new dependencies doesnt require rebuilding the image
      - ./:/var/www/html
      - .docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - shared-network
    depends_on:
      - laravel-app

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: unless-stopped
    command: --max_allowed_packet=134217728 --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_HOST: '%'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
      MYSQL_COLLATION: '${DB_COLLATION}'
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - shared-network

  redis:
    # image: 'redis:alpine'
    image: redis:7.0.2
    # it would use default persistence (RDB snapshots) if not set.
    # Also, container name differs from the set one with underscore
    command: ["redis-server", "--appendonly", "yes"]
    container_name: redis_server
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - shared-network

  redisinsight:
    image: redislabs/redisinsight:1.12.0
    container_name: redis_insight_gui
    restart: unless-stopped
    volumes:
      - redisinsight_data:/data
    ports:
      - '${REDIS_INSIGHT_PORT:-8001}:8001'
    networks:
      - shared-network
    environment:
      RI_DATABASE_URL: 'redis://redis:6379' # Auto-connect to your 'redis' service (Redis container)
      # RI_PASSWORD: '${REDIS_PASSWORD}' # Uncomment if your Redis server requires a password
    depends_on:
      - redis

  reverb:
    build:
      context: .
      dockerfile: .docker/Dockerfile
    container_name: reverb_server
    restart: unless-stopped
    working_dir: /var/www/html
    environment:
      APP_DEBUG: '${APP_DEBUG}'
      APP_ENV: '${APP_ENV}'
      REVERB_APP_ID: '${REVERB_APP_ID}'
      REVERB_APP_KEY: '${REVERB_APP_KEY}'
      REVERB_APP_SECRET: '${REVERB_APP_SECRET}'
      REVERB_HOST: '0.0.0.0' # Listen on all interfaces inside the container
      REVERB_PORT: '${REVERB_PORT}'
      REVERB_SCHEME: '${REVERB_SCHEME}'
      REDIS_HOST: 'redis' # Reverb needs to connect to Redis for internal features too
      REDIS_PORT: '${REDIS_PORT}'
      REDIS_PASSWORD: '${REDIS_PASSWORD}'
    volumes:
      - ./:/var/www/html
      - vendor-volume:/var/www/html/vendor
    ports:
      - '${REVERB_PORT}:${REVERB_PORT}'
    networks:
      - shared-network
    depends_on:
      - redis

  queue:
    build:
      context: .
      dockerfile: .docker/Dockerfile
    container_name: laravel_queue_worker
    restart: unless-stopped
    working_dir: /var/www/html
    environment:
      APP_DEBUG: '${APP_DEBUG}'
      APP_ENV: '${APP_ENV}'
      DB_CONNECTION: '${DB_CONNECTION}'
      DB_HOST: 'db'
      DB_DATABASE: '${DB_DATABASE}'
      DB_USERNAME: '${DB_USERNAME}'
      DB_PASSWORD: '${DB_PASSWORD}'
      QUEUE_CONNECTION: 'redis'
      REDIS_HOST: 'redis'
      REDIS_PORT: '${REDIS_PORT}'
      REDIS_PASSWORD: '${REDIS_PASSWORD}'
    volumes:
      - ./:/var/www/html
      - vendor-volume:/var/www/html/vendor
    networks:
      - shared-network
    depends_on:
      - db
      - redis
    command: php artisan queue:work --verbose

networks:
  shared-network:
    driver: bridge

volumes:
  dbdata:
  vendor-volume:
  # storage-volume:
  # cache-volume:
  redis_data:
  redisinsight_data:
