/* =================================
   #HIDE-SHOW

   Utility class to hide and show content in various
   cases (depending on device type and size)
   ================================= */
/**
 * Hide content visually, yet provide it to screen readers
 */
.u-hide-visually {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}

/**
 * Display: none, display: block or display: flex content on from and to specific breakpoints.
 * The below loop will generate us a suite of classes e.g.:
 *
 *   .u-hide {}
 *   .u-hide-sm-max {}
 *   .u-hide-lg-min {}
 *
 *   .u-block {}
 *   .u-block-sm-max {}
 *   .u-block-lg-min {}
 *
 *   .u-flex {}
 *   .u-flex-sm-max {}
 *   .u-flex-lg-min {}
 *
 *   .u-inl-flex {}
 *   .u-inl-flex-sm-max {}
 *   .u-inl-flex-lg-min {}
 */
.u-hide {
	display: none !important;
}

.u-block {
	display: block !important;
}

.u-flex {
	display: flex !important;
}

.u-inl-flex {
	display: inline-flex !important;
}

@media only screen and (min-width: 360px) {
	.u-hide-xs-min {
		display: none !important;
	}
}

@media only screen and (min-width: 768px) {
	.u-hide-sm-min {
		display: none !important;
	}
}

@media only screen and (min-width: 1024px) {
	.u-hide-md-min {
		display: none !important;
	}
}

@media only screen and (min-width: 1320px) {
	.u-hide-lg-min {
		display: none !important;
	}
}

@media only screen and (min-width: 1600px) {
	.u-hide-xl-min {
		display: none !important;
	}
}

@media only screen and (max-width: 359px) {
	.u-hide-xs-max {
		display: none !important;
	}
}

@media only screen and (max-width: 767px) {
	.u-hide-sm-max {
		display: none !important;
	}
}

@media only screen and (max-width: 1023px) {
	.u-hide-md-max {
		display: none !important;
	}
}

@media only screen and (max-width: 1319px) {
	.u-hide-lg-max {
		display: none !important;
	}
}

@media only screen and (max-width: 1599px) {
	.u-hide-xl-max {
		display: none !important;
	}
}

@media only screen and (min-width: 360px) {
	.u-block-xs-min {
		display: block !important;
	}
}

@media only screen and (min-width: 768px) {
	.u-block-sm-min {
		display: block !important;
	}
}

@media only screen and (min-width: 1024px) {
	.u-block-md-min {
		display: block !important;
	}
}

@media only screen and (min-width: 1320px) {
	.u-block-lg-min {
		display: block !important;
	}
}

@media only screen and (min-width: 1600px) {
	.u-block-xl-min {
		display: block !important;
	}
}

@media only screen and (max-width: 359px) {
	.u-block-xs-max {
		display: block !important;
	}
}

@media only screen and (max-width: 767px) {
	.u-block-sm-max {
		display: block !important;
	}
}

@media only screen and (max-width: 1023px) {
	.u-block-md-max {
		display: block !important;
	}
}

@media only screen and (max-width: 1319px) {
	.u-block-lg-max {
		display: block !important;
	}
}

@media only screen and (max-width: 1599px) {
	.u-block-xl-max {
		display: block !important;
	}
}

@media only screen and (min-width: 360px) {
	.u-flex-xs-min {
		display: flex !important;
	}
}

@media only screen and (min-width: 768px) {
	.u-flex-sm-min {
		display: flex !important;
	}
}

@media only screen and (min-width: 1024px) {
	.u-flex-md-min {
		display: flex !important;
	}
}

@media only screen and (min-width: 1320px) {
	.u-flex-lg-min {
		display: flex !important;
	}
}

@media only screen and (min-width: 1600px) {
	.u-flex-xl-min {
		display: flex !important;
	}
}

@media only screen and (max-width: 359px) {
	.u-flex-xs-max {
		display: flex !important;
	}
}

@media only screen and (max-width: 767px) {
	.u-flex-sm-max {
		display: flex !important;
	}
}

@media only screen and (max-width: 1023px) {
	.u-flex-md-max {
		display: flex !important;
	}
}

@media only screen and (max-width: 1319px) {
	.u-flex-lg-max {
		display: flex !important;
	}
}

@media only screen and (max-width: 1599px) {
	.u-flex-xl-max {
		display: flex !important;
	}
}

@media only screen and (min-width: 360px) {
	.u-inl-flex-xs-min {
		display: inline-flex !important;
	}
}

@media only screen and (min-width: 768px) {
	.u-inl-flex-sm-min {
		display: inline-flex !important;
	}
}

@media only screen and (min-width: 1024px) {
	.u-inl-flex-md-min {
		display: inline-flex !important;
	}
}

@media only screen and (min-width: 1320px) {
	.u-inl-flex-lg-min {
		display: inline-flex !important;
	}
}

@media only screen and (min-width: 1600px) {
	.u-inl-flex-xl-min {
		display: inline-flex !important;
	}
}

@media only screen and (max-width: 359px) {
	.u-inl-flex-xs-max {
		display: inline-flex !important;
	}
}

@media only screen and (max-width: 767px) {
	.u-inl-flex-sm-max {
		display: inline-flex !important;
	}
}

@media only screen and (max-width: 1023px) {
	.u-inl-flex-md-max {
		display: inline-flex !important;
	}
}

@media only screen and (max-width: 1319px) {
	.u-inl-flex-lg-max {
		display: inline-flex !important;
	}
}

@media only screen and (max-width: 1599px) {
	.u-inl-flex-xl-max {
		display: inline-flex !important;
	}
}
