@use "../00-settings/breakpoints";
@use "../00-settings/spacing";
@use "../01-tools/media";

/* =================================
   #SPACINGS
   ================================= */

/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-mt-md {}
 *   .u-pl-lg {}
 *   .u-mr-sm {}
 *   .u-p-2xs {}
 *   .u-pr-none {}
 *   .u-px-md {}
 *   .u-my-xl {}
 */

$spacing-directions: (
  null: null,
  "t": "-top",
  "r": "-right",
  "b": "-bottom",
  "l": "-left",
  "x": "-left" "-right",
  "y": "-top" "-bottom",
) !default;

$spacing-properties: (
  "p": "padding",
  "m": "margin",
) !default;

$spacing-sizes: (
  "-3xs": spacing.$spacing3Xs,
  "-2xs": spacing.$spacing2Xs,
  "-xs": spacing.$spacingXs,
  "-sm": spacing.$spacingSm,
  "-md": spacing.$spacingMd,
  "-lg": spacing.$spacingLg,
  "-xl": spacing.$spacingXl,
  "-2xl": spacing.$spacing2Xl,
  "-3xl": spacing.$spacing3Xl,
  "-4xl": spacing.$spacing4Xl,
  "-none": 0,
) !default;

@each $property-namespace, $property in $spacing-properties {
  @each $direction-namespace, $direction-rules in $spacing-directions {
    @each $size-namespace, $size in $spacing-sizes {
      .u-#{$property-namespace}#{$direction-namespace}#{$size-namespace} {
        @each $direction in $direction-rules {
          #{$property}#{$direction}: $size !important;
        }
      }
    }
  }
}

/**
 * Utility class to add consistent, responsive spacing between sections
 */
.u-section-spacer {
  margin-top: var(--spacing-2xl);

  @include media.mq("sm") {
    margin-top: var(--spacing-3xl);
  }
}

/**
 * Utility class to add consistent, responsive spacing
 * from top link elements to page content.
 * E.g. to breadcrumbs, top links (like back links) etc.
 */
.u-top-content-spacer {
  min-height: var(--button-height-md) !important;
  margin-bottom: var(--content-spacing-top) !important;

  @include media.mq(breakpoints.$headerLayoutSwitch) {
    min-height: var(--size-5xl) !important;
    margin-bottom: var(--content-spacing-top-desktop) !important;
  }
}
.u-top-content-spacer-no-mobile {
  @include media.mq(breakpoints.$headerLayoutSwitch, "max") {
    margin-bottom: 0 !important;
  }
}
