/* =================================
   #SPACINGS
   ================================= */
/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-mt-md {}
 *   .u-pl-lg {}
 *   .u-mr-sm {}
 *   .u-p-2xs {}
 *   .u-pr-none {}
 *   .u-px-md {}
 *   .u-my-xl {}
 */
.u-p-3xs {
	padding: 2px !important;
}

.u-p-2xs {
	padding: 4px !important;
}

.u-p-xs {
	padding: 8px !important;
}

.u-p-sm {
	padding: 12px !important;
}

.u-p-md {
	padding: 16px !important;
}

.u-p-lg {
	padding: 24px !important;
}

.u-p-xl {
	padding: 32px !important;
}

.u-p-2xl {
	padding: 40px !important;
}

.u-p-3xl {
	padding: 64px !important;
}

.u-p-4xl {
	padding: 128px !important;
}

.u-p-none {
	padding: 0 !important;
}

.u-pt-3xs {
	padding-top: 2px !important;
}

.u-pt-2xs {
	padding-top: 4px !important;
}

.u-pt-xs {
	padding-top: 8px !important;
}

.u-pt-sm {
	padding-top: 12px !important;
}

.u-pt-md {
	padding-top: 16px !important;
}

.u-pt-lg {
	padding-top: 24px !important;
}

.u-pt-xl {
	padding-top: 32px !important;
}

.u-pt-2xl {
	padding-top: 40px !important;
}

.u-pt-3xl {
	padding-top: 64px !important;
}

.u-pt-4xl {
	padding-top: 128px !important;
}

.u-pt-none {
	padding-top: 0 !important;
}

.u-pr-3xs {
	padding-right: 2px !important;
}

.u-pr-2xs {
	padding-right: 4px !important;
}

.u-pr-xs {
	padding-right: 8px !important;
}

.u-pr-sm {
	padding-right: 12px !important;
}

.u-pr-md {
	padding-right: 16px !important;
}

.u-pr-lg {
	padding-right: 24px !important;
}

.u-pr-xl {
	padding-right: 32px !important;
}

.u-pr-2xl {
	padding-right: 40px !important;
}

.u-pr-3xl {
	padding-right: 64px !important;
}

.u-pr-4xl {
	padding-right: 128px !important;
}

.u-pr-none {
	padding-right: 0 !important;
}

.u-pb-3xs {
	padding-bottom: 2px !important;
}

.u-pb-2xs {
	padding-bottom: 4px !important;
}

.u-pb-xs {
	padding-bottom: 8px !important;
}

.u-pb-sm {
	padding-bottom: 12px !important;
}

.u-pb-md {
	padding-bottom: 16px !important;
}

.u-pb-lg {
	padding-bottom: 24px !important;
}

.u-pb-xl {
	padding-bottom: 32px !important;
}

.u-pb-2xl {
	padding-bottom: 40px !important;
}

.u-pb-3xl {
	padding-bottom: 64px !important;
}

.u-pb-4xl {
	padding-bottom: 128px !important;
}

.u-pb-none {
	padding-bottom: 0 !important;
}

.u-pl-3xs {
	padding-left: 2px !important;
}

.u-pl-2xs {
	padding-left: 4px !important;
}

.u-pl-xs {
	padding-left: 8px !important;
}

.u-pl-sm {
	padding-left: 12px !important;
}

.u-pl-md {
	padding-left: 16px !important;
}

.u-pl-lg {
	padding-left: 24px !important;
}

.u-pl-xl {
	padding-left: 32px !important;
}

.u-pl-2xl {
	padding-left: 40px !important;
}

.u-pl-3xl {
	padding-left: 64px !important;
}

.u-pl-4xl {
	padding-left: 128px !important;
}

.u-pl-none {
	padding-left: 0 !important;
}

.u-px-3xs {
	padding-left: 2px !important;
	padding-right: 2px !important;
}

.u-px-2xs {
	padding-left: 4px !important;
	padding-right: 4px !important;
}

.u-px-xs {
	padding-left: 8px !important;
	padding-right: 8px !important;
}

.u-px-sm {
	padding-left: 12px !important;
	padding-right: 12px !important;
}

.u-px-md {
	padding-left: 16px !important;
	padding-right: 16px !important;
}

.u-px-lg {
	padding-left: 24px !important;
	padding-right: 24px !important;
}

.u-px-xl {
	padding-left: 32px !important;
	padding-right: 32px !important;
}

.u-px-2xl {
	padding-left: 40px !important;
	padding-right: 40px !important;
}

.u-px-3xl {
	padding-left: 64px !important;
	padding-right: 64px !important;
}

.u-px-4xl {
	padding-left: 128px !important;
	padding-right: 128px !important;
}

.u-px-none {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.u-py-3xs {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

.u-py-2xs {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

.u-py-xs {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.u-py-sm {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}

.u-py-md {
	padding-top: 16px !important;
	padding-bottom: 16px !important;
}

.u-py-lg {
	padding-top: 24px !important;
	padding-bottom: 24px !important;
}

.u-py-xl {
	padding-top: 32px !important;
	padding-bottom: 32px !important;
}

.u-py-2xl {
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}

.u-py-3xl {
	padding-top: 64px !important;
	padding-bottom: 64px !important;
}

.u-py-4xl {
	padding-top: 128px !important;
	padding-bottom: 128px !important;
}

.u-py-none {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.u-m-3xs {
	margin: 2px !important;
}

.u-m-2xs {
	margin: 4px !important;
}

.u-m-xs {
	margin: 8px !important;
}

.u-m-sm {
	margin: 12px !important;
}

.u-m-md {
	margin: 16px !important;
}

.u-m-lg {
	margin: 24px !important;
}

.u-m-xl {
	margin: 32px !important;
}

.u-m-2xl {
	margin: 40px !important;
}

.u-m-3xl {
	margin: 64px !important;
}

.u-m-4xl {
	margin: 128px !important;
}

.u-m-none {
	margin: 0 !important;
}

.u-mt-3xs {
	margin-top: 2px !important;
}

.u-mt-2xs {
	margin-top: 4px !important;
}

.u-mt-xs {
	margin-top: 8px !important;
}

.u-mt-sm {
	margin-top: 12px !important;
}

.u-mt-md {
	margin-top: 16px !important;
}

.u-mt-lg {
	margin-top: 24px !important;
}

.u-mt-xl {
	margin-top: 32px !important;
}

.u-mt-2xl {
	margin-top: 40px !important;
}

.u-mt-3xl {
	margin-top: 64px !important;
}

.u-mt-4xl {
	margin-top: 128px !important;
}

.u-mt-none {
	margin-top: 0 !important;
}

.u-mr-3xs {
	margin-right: 2px !important;
}

.u-mr-2xs {
	margin-right: 4px !important;
}

.u-mr-xs {
	margin-right: 8px !important;
}

.u-mr-sm {
	margin-right: 12px !important;
}

.u-mr-md {
	margin-right: 16px !important;
}

.u-mr-lg {
	margin-right: 24px !important;
}

.u-mr-xl {
	margin-right: 32px !important;
}

.u-mr-2xl {
	margin-right: 40px !important;
}

.u-mr-3xl {
	margin-right: 64px !important;
}

.u-mr-4xl {
	margin-right: 128px !important;
}

.u-mr-none {
	margin-right: 0 !important;
}

.u-mb-3xs {
	margin-bottom: 2px !important;
}

.u-mb-2xs {
	margin-bottom: 4px !important;
}

.u-mb-xs {
	margin-bottom: 8px !important;
}

.u-mb-sm {
	margin-bottom: 12px !important;
}

.u-mb-md {
	margin-bottom: 16px !important;
}

.u-mb-lg {
	margin-bottom: 24px !important;
}

.u-mb-xl {
	margin-bottom: 32px !important;
}

.u-mb-2xl {
	margin-bottom: 40px !important;
}

.u-mb-3xl {
	margin-bottom: 64px !important;
}

.u-mb-4xl {
	margin-bottom: 128px !important;
}

.u-mb-none {
	margin-bottom: 0 !important;
}

.u-ml-3xs {
	margin-left: 2px !important;
}

.u-ml-2xs {
	margin-left: 4px !important;
}

.u-ml-xs {
	margin-left: 8px !important;
}

.u-ml-sm {
	margin-left: 12px !important;
}

.u-ml-md {
	margin-left: 16px !important;
}

.u-ml-lg {
	margin-left: 24px !important;
}

.u-ml-xl {
	margin-left: 32px !important;
}

.u-ml-2xl {
	margin-left: 40px !important;
}

.u-ml-3xl {
	margin-left: 64px !important;
}

.u-ml-4xl {
	margin-left: 128px !important;
}

.u-ml-none {
	margin-left: 0 !important;
}

.u-mx-3xs {
	margin-left: 2px !important;
	margin-right: 2px !important;
}

.u-mx-2xs {
	margin-left: 4px !important;
	margin-right: 4px !important;
}

.u-mx-xs {
	margin-left: 8px !important;
	margin-right: 8px !important;
}

.u-mx-sm {
	margin-left: 12px !important;
	margin-right: 12px !important;
}

.u-mx-md {
	margin-left: 16px !important;
	margin-right: 16px !important;
}

.u-mx-lg {
	margin-left: 24px !important;
	margin-right: 24px !important;
}

.u-mx-xl {
	margin-left: 32px !important;
	margin-right: 32px !important;
}

.u-mx-2xl {
	margin-left: 40px !important;
	margin-right: 40px !important;
}

.u-mx-3xl {
	margin-left: 64px !important;
	margin-right: 64px !important;
}

.u-mx-4xl {
	margin-left: 128px !important;
	margin-right: 128px !important;
}

.u-mx-none {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.u-my-3xs {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
}

.u-my-2xs {
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}

.u-my-xs {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
}

.u-my-sm {
	margin-top: 12px !important;
	margin-bottom: 12px !important;
}

.u-my-md {
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}

.u-my-lg {
	margin-top: 24px !important;
	margin-bottom: 24px !important;
}

.u-my-xl {
	margin-top: 32px !important;
	margin-bottom: 32px !important;
}

.u-my-2xl {
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}

.u-my-3xl {
	margin-top: 64px !important;
	margin-bottom: 64px !important;
}

.u-my-4xl {
	margin-top: 128px !important;
	margin-bottom: 128px !important;
}

.u-my-none {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
