.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner {
	aspect-ratio: 1;
	border: var(--border-size-md) solid currentColor;
	border-top-color: transparent;
	border-radius: 50%;
	animation: spin 1s infinite linear;

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}
}

/*----- Sizes -----*/

.sm {
	width: var(--icon-size-sm);
}

.md {
	width: var(--icon-size-md);
}

.lg {
	width: var(--icon-size-lg);
}
