.alert {
	display: flex;
	align-items: center;
}

.content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--spacing-sm);
}

.status {
	display: flex;
	align-items: center;
}

// TODO: use css variable values for ITCSS
.processing,
.pending {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

.completed {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.failed {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}
