.alert {
	display: flex;
	align-items: center;
}

.content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--spacing-sm);
}

.status {
	display: flex;
	align-items: center;
}
