.metaInfo {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--size-md);
	// margin-top: auto;
	margin-bottom: var(--spacing-xs);

	&.centered {
		justify-content: center;
	}
}

.statItem {
	display: flex;
	align-items: center;
	color: var(--color-neutral-600);
}

.statIcon {
	margin-right: var(--size-xs);
	text-align: center;
}
