:root {
  --main-text-color: #303030;
  --alternative-text-color: #f9f9f9;
  --link-hover-color: #9099a7;
  --main-brand-color: #f79862;
  --secondary-brand-color: #3058a4;
}

.page-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--alternative-text-color);
  z-index: 9999;
}

.page-loader {
  text-align: center;
  color: var(--main-text-color);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
