:root {
  --main-text-color: #303030;
  --main-background-color: #191e27;
  --alternative-text-color: #f9f9f9;
  --link-hover-color: #9099a7;
  --main-brand-color: #f79862;
  --secondary-brand-color: #3058a4;
}

/* Scrollbar native */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-brand-color);
}

/* Main layout */

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
