:root {
    --main-text-color: #303030;
    --alternative-text-color: #f9f9f9;
    --link-hover-color: #9099a7;
    --main-brand-color: #f79862;
    --secondary-brand-color: #3058A4;
}

i:hover {
    opacity: .8;
    cursor: pointer;
}

a i {
    color: var(--main-text-color);
    opacity: .7;
}

a i:hover {
    opacity: .5;
}