.relatedList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.relatedResource {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: var(--spacing-md);
	padding-block: var(--spacing-md);
	border-bottom: var(--border-size-sm) solid var(--color-neutral-200);
}

.openLink {
	flex-shrink: 0;
}
